.container-cards{
    display:flex;
    justify-content: space-between;
    width:90%;
    margin:0 auto;
}

.card{
    background-color: white;
    padding:35px;
    border-radius:30px;
    margin:0 10px;
    text-align:center;
    color:white;
    width:25%;    
}

.card img{
    text-align:center;
    width:100%;
}

@media (max-width:900px) {
    .container-cards{
        display:block;
        justify-content: space-around;
    }

    .card{
        margin:10px;
        width:auto;
    }

    .card img{
        width:90%;
    }
}
