.header-container{
    background-image: url(/src/imgs/header.png);
    background-repeat: no-repeat;
    background-position: right;
    height:600px;
    margin-top:-155px;
}

.header-esquerda{
    width:30%;
    margin-top:200px;
    position:absolute;
}

h1{
    font-size:45px;
    line-height: 35px;
}

@media (max-width:900px) {
    .header-container{
    background-image: url(/src/imgs/header-mobile.png);
    background-repeat: no-repeat;
    background-position: right 0% top 80%;
    margin-left:5%;
    }

    .header-esquerda{
    width:60%;
    margin-top:200px;
    position:absolute;
    }
    
}