
.container-geral{
  text-align:center;
  margin:0 auto;
  width:40%;
  margin-bottom:40px;
}

.container{
  width:100%;
}

@media (max-width:900px) {
  .container-geral{
    width:80% !important;
  }

  
}

.divisor-meio{
  border-bottom: 1px solid var(--primary-color);
  width:10%;
  position:static;
  margin-left:45%
}

.divisor-esquerda{
  border-bottom: 1px solid var(--primary-color);
  width:10%;
  position:static;
}

.fundo-secao{
  background-size:100%;
  background-repeat: no-repeat;
}