@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  --primary-color: #310101;
  --second-color: #F7F2E8;
  --third-color: #C27D7A;
  --fourth-color: #924a46;
  background:var(--second-color);
  color:var(--primary-color);
}




