.sobre-container{
    width:75%;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom:100px;
}

.sobre-esquerda{
    width:40%;
}

.sobre-esquerda h1{
    line-height: 45px;
}

.sobre-direita{
    width:40%;
}

@media (max-width:900px) {
    .sobre-container{
        width:auto;
        display: block;
        margin:0 auto;
        padding:0 10%;
    }


    .sobre-esquerda{
        width:100%;
    }

    .sobre-direita{
        width:100%;
    }
}