.botoes{
    background:var(--primary-color);
    color:white;
    border:none;
    padding:12px 25px;
    cursor:pointer;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
    border-radius:12px;
    border: 1px solid var(--primary-color);
}

.botoes:hover{
    background:var(--third-color);
    color: var(--primary-color);
    border: 1px solid var(--fourth-color);
}